			.redHeader {
				color: red;
				text-decoration:underline;
				
			}
			
			h1.redHeader {
				text-align: center;
			}
			
			p:first-of-type {
				font-weight: bold;
			}
			
			a:hover {
				color: green;
			}
			
			blockquote > cite {
				text-transform: uppercase;
			}